{% extends 'core/base.html' %}

{% block title %}
Portafoli
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
<!--ho deixem tot en una linia per evitar un error de sintaxi-->

{% block headers %}
<h1>Gerard Lopez Villena</h1>
<span class="subheading">Biotecnoleg</span>
{% endblock %}



<!-- Contenido Principal -->

<!--Quan crido a la vista desde portafoli/views.py ho
    faig introduint un diccionari de context que te
    com a clau 'projects'  com a valor una llista
    i aquesta llista conte els objectes del model cridat
    a traves de la clau projectes. Per a cridar a un
    diccionar de context ho faig amb doble corxet
    si crido nomes un model anomenat projects aixi:
    projects, entre doble corxet, es pot veure que es una llista dobjectes
    i per tan podem cridar objecte a objecte iterantlos
    amb un for, per exemple-->
    
{% block content %}
  <!-- Degut al que em dit abans cridarem el model projects
      de manera iterativa per a poder visualitzar cada objecte-->
    {% for project in projects %}
      <!-- Proyecto -->
      <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src={{project.image.url}} alt="">
            <!--agafo del objecte project el seu atribut image-->
            <!--Si ho deixo com a project.image em dirigeix a
            la carpeta portfoli/projects/cierre.jps, mentre que
            la imatge esta a media/portfoli/cierre.jpg. per a
            corregirho afegeixo el su metode intern .url
            que es molt convenient utilitzarlo sempre-->
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{project.title}}</h2>   
            <p>{{project.description}}</p>
          <!--<p><a href="http://google.com">Más información</a></-->
        </div>
    {% endfor %}
{% endblock %}

